html {
    scroll-behavior: smooth;
}

body {
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    margin: 0;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    min-height: 10vh;
}

body::-webkit-scrollbar {
    display: none;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #fff;
    display: grid;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.extra-margin-top {
    margin-top: 40px;
}

.extra-margin-bottom {
    margin-bottom: 40px;
}

.container-login {
    margin-top: 60px;
}

h1,
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-contact,
.contact-list {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.5s ease;
}

.contact-list:hover {
    border: 1px solid #8e8e8e;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-size: 16px;
    outline: none;
    transition: all 0.4s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    /* border: 1px solid #333; */
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
}

.link-button {
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

.link-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.button {
    background-color: #007bff;
    width: 100%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-size: 16px;
    transition: all 0.5s ease;
}

.button.primary {
    background-color: #28a745;
}

.button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

p {
    text-align: center;
}

.contact-items {
    list-style: none;
    padding: 0;
}

.contact-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.contact-item:last-child {
    border-bottom: none;
}

.contact-name {
    flex-grow: 1;
}

.contact-email {
    flex-grow: 1;
}

.contact-phone {
    color: rgb(51, 51, 51)
}

.contact-actions {
    color: rgb(51, 51, 51)
}

.delete-button {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 1;
    transition: all 0.3s ease;
}

.delete-button:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.auth-form .form-group {
    margin-bottom: 15px;
}

.auth-form .button {
    margin-top: 10px;
}

.auth-form p {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.auth-form p a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-form p a:hover {
    color: #3f9cff;
}

.error {
    color: #dc3545;
    margin-bottom: 10px;
}

/*-------------------------HEADER FOOTER---------------------------*/

.header {
    /* background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%); */
    background-color: white;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 10px 5px;
    transition: box-shadow 0.5s ease;
}

.header:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.header span {
    color: #007bff;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.header span:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.scroll-to-session {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.5s ease;
}

.scroll-to-session:hover {
    color: #2b92ff;
    transform: scale(1.2);
}

.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.auth-button {
    background-color: #007bff;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.3s ease;
}

.auth-button.login {
    background-color: #28a745;
}

.auth-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.landing-image {
    width: 500px;
    height: auto;
    transition: all 0.5s ease;
    margin: 20px 0px;
}

.landing-image:hover {
    transform: scale(1.1);
}

.main-content {
    padding: 40px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content h2 {
    color: #007bff;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.main-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 800px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 75px;
    column-gap: 100px;
    margin-top: 40px;
    text-align: left;
}

.features-title {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}

.feature {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.feature:hover {
    box-shadow: 0 0 10px #007bff;
    transform: scale(1.1);
}

.feature h3 {
    color: #007bff;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    background-image: url(images/footer-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #333;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-box {
    background-color: rgba(255, 255, 255, 0.531);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all 0.5s ease;
}

.footer-box:hover {
    transform: scale(1.1);
}

.footer p {
    margin: 10px 0;
}

.footer p a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer p a:hover {
    color: #3697ff;
}


/*********************************Search Feature*****************************************/

.search-bar {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar .form-style {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 1em;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    transition: all 0.5s ease;
}

.search-bar button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}