<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400;700">
</head>

<body>
  <div class="header" style="margin-bottom: 20px;">
    <a href="{{ url_for('landing') }}" Register><span class="material-symbols-rounded">
        home
      </span></a>
    <!-- <div class="auth-buttons">
      <a href="{{ url_for('logout') }}" class="auth-button">Logout</a>
    </div> -->
    <div class="profile-dropdown">
      <div class="profile-icon">
        <span class="material-symbols-rounded">
          person
        </span>
        <!-- <img src="{{ url_for('static', filename='profile_pictures/Lastest_pic_1.jpg') }}" alt="Profile Picture"
          style="width: 30px; height: 30px; border-radius: 50%;"> -->
      </div>
      <div class="dropdown-content">
        <a href="{{ url_for('contacts') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>

  <div class="wrap">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category=="primary" %}
    <div class="alert alert-{{ category }} contacts-page" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close btn-close-{{ category }}" aria-label="Close">✖</button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith%}
    <!-- <div class="alert alert-primary contacts-page" role="alert">
      <strong>{{ "message" }}</strong>
      <button type="button" class="btn-close btn-close-primary" aria-label="Close">✖</button>
    </div> -->
  </div>


  <div class="wrap">
    <div class="container extra-margin-top extra-margin-bottom">

      <h1>Contact Management System</h1>

      <a href="/new-contact" class="link-button">Add New Contact</a>

      <div class="search-bar">
        <form action="{{ url_for('search_contacts') }}" method="get" class="form-style">
          <input type="text" name="query" placeholder="Search contacts...">
          <button type="submit" class="search-button"><span class="material-symbols-rounded" style="font-size: 32px;">
              search
            </span></button>
        </form>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category=="info" %}
      <div class="alert alert-primary" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close btn-close-primary" aria-label="Close">✖</button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close btn-close-danger" aria-label="Close">✖</button>
      </div>
      {% endfor %}

      <div class="contact-list">
        <h2>Contact List</h2>
        {% if contacts %}

        <div class="contact-table">
          <div class="contact-header">
            <span>First Name</span>
            <span>Last Name</span>
            <span>Address</span>
            <span>Company</span>
            <span>Email</span>
            <span>Phone</span>
            <span>Actions</span>
          </div>
          {% for contact in contacts %}
          <div class="contact-row">
            <span>{{ contact.first_name }}</span>
            <span>{{ contact.last_name }}</span>
            <span>{{ contact.address }}</span>
            <span>{{ contact.company }}</span>
            <span>{{ contact.email }}</span>
            <span>{{ contact.phone_number }}</span>

            <span class="action-buttons">
              <form action="/edit/{{ contact.id }}" method="get" style="display: inline;">
                <button type="submit" class="icon-button edit-button">✎</button>
              </form>

              <button type="submit" class="icon-button delete-button"
                onclick="openDeleteModal('{{ contact.id }}', '{{ contact.first_name }} {{ contact.last_name }}')">
                ✖
              </button>
            </span>

            <div id="deleteModal-{{ contact.id }}" class="modal">
              <div class="modal-content">
                <span class="close-button" onclick="closeDeleteModal('{{ contact.id }}')">&times;</span>
                <p style="font-size: large; margin-bottom: 30px;"><strong>Are you sure you want to delete contact "{{
                    contact.first_name }}
                    {{ contact.last_name
                    }}"?</strong></p>
                <div class="modal-buttons">
                  <form action="/delete/{{ contact.id }}" method="post" style="display:inline;">
                    <button type="submit" class="yes-button">Yes, Delete</button>
                  </form>
                  <button type="button" class="no-button" onclick="closeDeleteModal('{{ contact.id }}')">No,
                    Cancel</button>
                </div>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

        {% else %}
        <p style="width: 1000px;">No contacts available</p>
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/deleteButton.js') }}"></script>

  <script src="{{ url_for('static', filename='js/alertButton.js') }}"></script>


</body>

</html>