<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400;700">
</head>

<body>
    <div class="header">
        <a href="{{ url_for('landing') }}" Register><span class="material-symbols-rounded">
                home
            </span></a>
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}" class="auth-button login">Login</a>
            <a href="{{ url_for('register') }}" class="auth-button">Register</a>
        </div>
    </div>

    <div class="wrap">
        <div class="container extra-margin-top extra-margin-bottom">
            <h1>Test Data Added to DB</h1>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="POST" action="{{ url_for('test') }}" class="auth-form" enctype="multipart/form-data">

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/profilePic.js') }}"></script>

</body>

</html>