<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
</head>

<body>
    <div class="header">
        <a href="{{ url_for('landing') }}" Register><span class="material-symbols-outlined">
                home
            </span></a>
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}" class="auth-button login">Login</a>
            <a href="{{ url_for('register') }}" class="auth-button">Register</a>
        </div>
    </div>

    <div class="wrap">
        <div class="container extra-margin-top extra-margin-bottom">
            <h1>Register</h1>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="POST" action="{{ url_for('test') }}" class="auth-form" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label for="profile_picture" style="margin-bottom: 10px;">Profile Picture:</label>
                    <label for="profile_picture" class="custom-file-upload">
                        Upload Image
                    </label>
                    <input type="file" id="profile_picture" name="profile_picture" required>
                    <p id="file-name" style="text-align:left; margin-top:5px; margin-bottom:5px">No file chosen</p>

                </div>
                <button type="submit" class="button primary">Register</button>
                <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/profilePic.js') }}"></script>

</body>

</html>